.iframe {
  margin: auto;
  margin-top: 15px;
}
.work {
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .iframe {
    transform: scale(0.8);
    width: 100%;
    margin: 0;
  }
}
#mm {
  padding: 15px;
  margin: 15px;
  border: 2px solid white;
  background-color: white;
  width: 150px;
}
#mm > a {
  text-decoration: none;

  color: black;
}
#mm:hover {
  background-color: cyan;
}
